Bibliotecas

In [4]:
import pandas as pd
import numpy as np

Realizar a leitura do dataset Telco_Customer_Churn

In [5]:
data = '../data/Telco_Customer_Churn.csv'
try:
    df_telco = pd.read_csv(data)
except Exception as e:
    print(f'Error... Problemas ao carregar os dados {e}')

Analise Exploratoria dos Dados (EDA)

In [ ]:
df_telco.head().style.set_caption('Lista as primeiras 5 linhas do dataset')

In [ ]:
df_telco.sample(5).style.set_caption('Lista 5 linhas aleatorias do dataset')

In [ ]:
df_telco.tail().style.set_caption('Lista as ultimas 5 linhas do dataset')

In [ ]:
#-- Exibe os nomes das colunas --#
for i in df_telco.columns:
    print(f'-{i}')

-customerID
-gender
-SeniorCitizen
-Partner
-Dependents
-tenure
-PhoneService
-MultipleLines
-InternetService
-OnlineSecurity
-OnlineBackup
-DeviceProtection
-TechSupport
-StreamingTV
-StreamingMovies
-Contract
-PaperlessBilling
-PaymentMethod
-MonthlyCharges
-TotalCharges
-Churn

In [ ]:
 #-- Informacoes sobre o tipo dos dados de cada coluna --#
df_telco.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB